#brandStory{
    display: grid;  
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    background-color:rgb(242, 187, 223);
    padding: 0px;
    margin: 0px;
}
#imgBrand{
    width: 100%;
    text-align: center;
}