*{
    box-sizing: border-box;
}

.bread-catelouge-container , .cake-catelouge-container , .cookie-catelouge-container{
    width: 100%;
    margin-top: 102px;
    background-color: #FAEEE7;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;
}   


.title{
    display: flex;
    color: #C09898;
    font-weight: bold;
    font-size: 25px;
    margin: 0 auto;
    align-items: center;
}


.product-container{
    display: flex;
    max-width: 1000px;
    min-height: 700px;
    flex-wrap: wrap;
    padding: 10px;
    margin-top: 20px;
    padding-left: 70px;
    padding-right: 70px;
    gap: calc(20%/3);
    
}


.bread-product , .cake-product , .cookie-product{
    display: flex;
    flex-direction: column;
    width: 20%;
    height:  40%;
    background-color: #FFEBD8;
}

.bread-product:hover, .cake-product:hover, .cookie-product:hover{
    box-shadow: 0px 0px 10px 5px rgb(198, 198, 198);
}
.cookie-product{
    position: relative;
}

.product-img{
    background-color: #f4f4f5;
    height: 200px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .img-effect{ 
    background-color: #fff;
    padding: 25px 10px 25px 10px;
} */

.product-img img{
    width: 104px;
    height: 104px;
    cursor: pointer;
}

.product-img img:hover{
    transform: scale(1.1);
}

.product-name{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FAEEE7;
    height: 50px;
    font-size: 14px;
    color: #AE7861;
    font-style: italic;
    font-weight: bold;
    cursor: pointer;
}

.product-name:hover{
    color: #e9b451;
}

.product-end{
    display: flex;
}

.price{
    background-color: #BAD79D;
    width: 100px;
    height: 50px;
    color: #ffff;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.price:hover{
    color: #e9b451;
}

.add-cart{
    background-color: #AE7861;  
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-end img{
    width: 28px;
    cursor: pointer;
}

.product-end img:hover{
    transform: scale(1.1);
}
.bread-pagination , .cookie-pagination , .cake-pagination{
    display: flex;
    margin-bottom: 20px;
    gap: 20px;
}

.page{
    cursor: pointer;
    box-shadow: 0px 5px 5px 0px black;
    padding: 15px;
}

.page:hover {
    background-color: #f3c6c6;
}
  
.page.active {
    background-color: #C09898;
    color: white;
    font-weight: bold;
}

  /* slider-value */


  .price-range{
    margin: 0 auto;
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);   
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.slider-value {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: bold;
    color: #94b1f0; 
}

.slider-value span{
    border: 1px solid gray;
    width: 120px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 10px;
}

.slider-container {
    position: relative;
    width: 100%;
    height: 30px;
    margin-top: 10px;
}

.slider-container input[type="range"] {
    position: absolute;
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    pointer-events: none;  
}

.slider-container input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    background: #3b5998;
    border-radius: 5px;
}

.slider-container input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #3b5998;
    border-radius: 50%;
    cursor: pointer;
    pointer-events: all;
    position: relative;
    transform: translateY(-5px);

}
.filter-title{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid gray;

}

.option-price{
    margin-bottom: 10px;
}

.level-price input[type = "checkbox"]{
    margin-right: 10px;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.level-price h4{
    margin: 10px 0 10px 10px;
}

.level-price input:hover{
    transform: scale(1.1);
}

.filter{
    display: flex;
    min-width: 25%;
    flex-direction: column;
    padding: 20px;
    height: 550px;
    background-color: #fff;
    border-radius: 30px;
    position: absolute;
    left: -600px;
    z-index: 1;
    transition: 0.5s;
    box-shadow: 0px 5px 30px 0px #B26161;
}  

.filter.active{
    left: 0;
}

.filtershow{
    width: 30px;
    height: 30px;
    cursor: pointer;
    opacity: 1;
    position: absolute;
    left: 20px;
    /* top: 150px; */
}

.filtershow:hover{
    transform: scale(1.1);
}
   

.product-filter{
    /* display: flex; */
    margin-top: 40px;
    transition: margin 0.5s ease-in-out;
    align-items: center;
    /* position: relative; */
}

.show-product{      
    display: flex;
    position: relative;
    flex-direction: column;     
    min-height: 780px;
    max-height: 780px;
    min-width: 1000px;
    max-width: 1000px;                                                   
    padding: 20px;
    margin-bottom: 40px;
    background-color: #ffff;
    padding-left: 20px;
    padding-right:20px; 
    box-shadow: 0px 5px 30px 0px #B26161;
    border-radius: 40px;

}

.arrange-filter{
    position: absolute;
    right: 50px;
    top: 25px;
}

.arrange-filter select{
    padding: 5px;
    border-radius: 15px;
}   

.acp-filter{
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 5px 5px 0px #555252;
    margin-left: 44%;
    cursor: pointer;
}

.acp-filter:hover{
    background-color: rgb(150, 150, 142);
}


.backtomain{
    width: 30px;
    height: 30px;
    cursor: pointer;
    opacity: 1;
    position: absolute;
    left: 20px;
    /* top: 150px; */
}

.backtomain:hover{
    transform: scale(1.1);
}