#overlay-invoice{
    display: none;
    position: absolute;
    z-index: 3;
    background-color:rgba(101, 67, 33);
    padding: 10px;
    
    width: 100vw;
    height: 170vh;
    top: 102px;
    
  }
  #invoice-container {
    
    
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    z-index: 3;
    
  }
  .invoice-header {
    display: flex;
    margin-bottom: 20px;
    gap: 330px;
  }
  .header{
    font-size: 24px;
    color: #074c77;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    justify-self: center;
    
    
  }

  .invoice-table thead{
    width: 100%;
  }

  .invoice-table tbody{
    width: 100%;
  }

  #close-invoice{
    justify-items: flex-start;
    top: 10px;
    right: 100px;
    font-size: 20px;
    color: red;
    cursor: pointer;
    transition: color 0.2s ease;
    border: 0px solid rgb(0, 0, 0);
  }
  .invoice-body{
    margin-left: 20px;
    margin-top: 20px;
  }
  .invoice-customer-info{
    margin: 0 auto;
    width: 60%;
    /* margin-left:150px; */
    display: flex;
    border-bottom: 2px solid #074c77;
    /* margin-right: 150px; */
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .invoice-customer-left{
    flex: 1;
    margin-right: 70px;
    margin-left: 20px;
  }
  .invoice-customer-right{
    flex: 1;
    margin-left: 20px;
  }
  .invoice-product-list{
    margin: 0 auto;
    width: 60%;
    
  }
  .invoice-product-list-header{
    text-align: center;
  }
  .invoice-product{
    text-align: center;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    
  }
  .invoice-product-list-container{
    width: 100%;
    margin-top: 20px;
    overflow-y: auto;
    max-height: 200px;
    margin-bottom: 50px;
    
  
  }
  .invoice-product-name{
    flex: 1;
    text-align: left;
    white-space: nowrap;
  }
  .invoice-product-price{
    flex: 1;
    text-align: right;
    white-space: nowrap;
  }
  .invoice-process{
    margin: 0 auto;
    /* text-align: center; */
    width: 70%;
  }
  .invoice-process-total,.invoice-process-note,.invoice-process-payment{
   padding: 10px; 
   font-weight: bolder;
  }
  .invoice-process-total{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    border-top: 2px solid #074c77;
  }
  .invoice-total-price{
    font-size: 20px;
    color: #cc1d1d;
    
  }
  .invoice-footer{
    margin-top: 20px;
  }
  .invoice-submit{
    text-align: center;
    justify-content: center;
  }
  .invoice-submit-title{
    font-weight: bolder;
    color: #cc1d1d;
  }
  #submit-invoice{
    background-color: #796af8;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
  }
  #submit-invoice:hover{
    background-color: #796af8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    transition: all 0.3s ease;
  }
  
  #container-success-invoice {
      display: none;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.05);
    }

    #payment-success {
      background-color: #ffffff;
      width: 1000px;
      border-radius: 16px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      padding: 30px;
      text-align: center;
    }

    .success-header h3 {
      font-size: 24px;
      color: #d63384;
      font-weight: bold;
      margin-bottom: 20px;
    }

    .customer-info {
      text-align: left;
      margin-bottom: 20px;
      font-size: 16px;
      color: #333;
    }

    .customer-info .label {
      font-weight: bold;
      color: #d63384;
    }
    .customer-info p {
      margin-top: 10px;
    }
    .invoice-table {
      width: 100%;
      margin-bottom: 20px;
      border-collapse: collapse;
    }

    .invoice-table th,
    .invoice-table td {
      padding: 12px;
      border: 1px solid #f8d7e3;
      text-align: left;
    }

    .invoice-table th {
      background-color: #fcb1cf;
      color: #5a0d41;
    }

    .invoice-table td {
      color: #333;
    }

    .total {
      display: flex;
      justify-content: space-between;
      font-size: 18px;
      font-weight: bold;
      color: #d63384;
      margin-bottom: 10px;
    }

    .total-price {
      color: #d63384;
    }

    .payment-method {
      display: flex;
      justify-content: space-between;
      font-size: 16px;
      color: #333;
      margin-bottom: 20px;
    }

    #close-success-invoice {
      padding: 10px 20px;
      color: white;
      background-color: #d63384;
      border: none;
      border-radius: 20px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    #close-success-invoice:hover {
      background-color: #f28cb1;
    }