  
#register-form {
    background-color: #ffffff;
    width: 400px;
    height: fit-content;
    padding: 30px 20px;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 130px;
    z-index: 2;
    height: 500px;
    overflow-y: scroll;
    scrollbar-width: none;
    overflow-x: hidden;
}

.blur{
    color: #8d8d8d;
}

.register-content{
    font-size: 45px;
    position: relative;
    left: 10px;
    top: 20px;
}

.signin{
    display: flex;
    font-size: 11px;
    position: relative;
    left: 270px;
    bottom: 30px;
    flex-direction: column;
}

#register-form-son{
    font-size: 11px;
    margin-top: 30px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.highlight-3{
    color: #915959;
    cursor: pointer;
    position: relative;
    top: 15px;
    left: 72%;
}
#signup-btn{    
    padding: 15px;
    background-color: #915959;
    color: #ffffff;
    font-size: 11px;
    border-radius: 10px;
    border: none;
    cursor: pointer;    
}

#signup-btn:hover{
    transform: scale(1.01);
    background-color: #Ecbc76;
}

#signup-btn:active{
    transform: scale(1.02);
}

.register-info{
    display: flex;
    justify-content: space-between;
}

.register-info input{
    border: 1px solid #adadad;
    width: 150px;
    padding: 12px;
    border-radius: 10px;
    margin-top: 5px;
}

.contactnumber-info{
    margin-left: 25px;
}

.rg-highlight-2{
    color: #915959;
    cursor: pointer;
}

.rg-highlight-2:hover{
    color: #Ecbc76;
}
